---
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
			
			<p>Her vil jeg blogge om mine fremskridt i at få bygget denne blog.</p>
		
			<ul>
				{allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    	</ul>

</BaseLayout>
