---
const platform = "github";
const username = "withastro";
---

<footer>
  <p>Lær mere om mine projekter på <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Skriv til mig: andreas993@gmail.com</p>
</footer>